#top{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(59, 59, 255, 0.3), rgba(111, 45, 149, 0.2))
}
.Hero{
  display: flex;
  flex-direction:column;
  padding: 10px 0 0 0;
  align-items: flex-end;
}
.img{
  margin-left: 40px;
  min-width:120px;
  max-width:50%;
}

.cont_top_lsit{
  display: flex;
  justify-content: center;
}
.cont_top_lsit{
display:flex;
justify-content:center;
}

.link{
  padding:10px 20px 0px 0px;
}
ul{
  display: flex;
  justify-content: center;
}
.nav_Cadastrar{
  width:100%;
  font-size:1.2em;
  background-color:rgba(92, 106, 121, 15%);
  padding: 10px;
  font-style: normal;
  border: 1px solid rgba(1, 9, 17, 85%);
  align-self: center;
}
.nav_listagem{
  width:85%;
  font-size:1.2em;
  background-color:rgba(92, 106, 121, 15%);
  padding: 10px;
  font-style: normal;
  border: 1px solid rgba(1, 9, 17, 85%);
  align-self: center;
}

.cont_form{
  height:200px;
  width:100%;
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.5rem;
  line-height:1.5rem;
}
.campo{
  width: 100%;
  padding: 5px;
  margin-top:20px;
}
.campo_1, .campo_2{
  display: flex;
  justify-content: flex-end;
}
.lbl{
  margin-right: 10px;
}
.campo_3{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 15px;
  
}
.lbl_question{
  align-self: center;
}
.rad_inpt{
  display: flex;
  
  align-self: center;
}

.rad_nao{
  margin-top: 7px;
}

.rad_sim, .rad_nao{
  display: flex;
  justify-content: flex-end; 
}

.envio{
  margin-top: 8px;
  width:50%;
  display: flex;
  justify-content: flex-end;
  padding:12px;
}
button{
  width: 80%;
  font-size: 1.5rem;;
}
@media screen and (max-width: 600px){
  #top{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    margin:0 auto;
    padding-top:1rem;
  }
  .Hero{
    width: 100%;
    padding: 0;
  }
  .cont_img{
    width:30%;
  }
  .nav_home {
    width:100%;
    align-items:flex-end;
  }

   .img{
    margin-left: 20px;
    min-width:120px;
    max-width:80%;
  }

  .form{
    width: 100%;
  }

  .cont_top_lsit{
    width:100%;
    margin-top:10px;
    display: flex;
    flex-direction:column;
    align-content: center;
    text-align:center;
  }
  .cont_form{
    height:400px;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    font-size: 1.5rem;
  }

  .campo{
    display: flex;
    flex-direction:column;
    align-content:center;
    text-align:center;
    font-size: 1.5rem;
  }

  .inpt{
    align-self: center;
    width:80%;
    padding:10px;
  }
  .campo_3{
    width:100%;
    height:auto;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    line-height:30px;
  }
  .envio{
    width:100%;
    display: flex;
    justify-content: center;
  }
  button{
    width: 50%;
    font-size: 2rem;;
  }
  a{
    align-self:center;
  }
  .nav_Cadastrar{
    width:100%;
    justify-self:center;
  }
  .nav_listagem{
    width:100%;
  }

  .inpt{
    width: 100%;
    padding: 8px;
  }  
}